HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
*/target/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/



*.iml

###故障预测-库文件
/DiskPredict/DiskPredictModule/Lib/**
!/DiskPredict/DiskPredictModule/Lib/site-packages.rar
/DiskPredict/DiskPredictModule/__pycache__/**
### 故障预测-数据
/DiskPredict/original_data/**
/DiskPredict/models/**

/DiskPredict/original_data_test/**
!/DiskPredict/original_data_test/2016.rar

/DiskPredict/processed_data/**
/DiskPredict/train_data/**

/DiskPredict/result/**
/DiskPredict/predict_data/**
/DiskPredict/client/sampleData/data.csv
*.zip


### python
/hostmonitor_client_v2/__pycache__/**
/hostmonitor_client_v2/build/**
/hostmonitor_client_v2/dist/**
/hostmonitor_client_v2/HostMonitorClient.spec


/DiskPredict/client/pySMART/__pycache__/**


/DiskPredict/client/__pycache__/**
/DiskPredict/client/data_collector.spec
/DiskPredict/client/build/**
/DiskPredict/client/dist/**
