HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
*/target/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/



*.iml

###故障预测-库文件
/DiskPredict/DiskPredictModule/Lib/**
!/DiskPredict/DiskPredictModule/Lib/site-packages.rar
/DiskPredict/DiskPredictModule/__pycache__/**
### 故障预测-数据
/DiskPredict/original_data/**
/DiskPredict/processed_data/**
/DiskPredict/train_data/**
/DiskPredict/result/**
/DiskPredict/predict_data/**
/DiskPredict/client/sampleData/data.csv
